$primary_color: #3EA748;
$white_color: #FFF;
$grey_color: #F6F6F6;

@font-face {
  font-family: CeraPro;
  src: url('../assets/cera-pro-regular.otf') format("opentype");
}

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: CeraPro;
  font-size: 16px;
  font-weight: normal;
  width: 1440px;
  height: 900px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 0 0 14px;
}

h1 {
  flex-grow: 1;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 40px;
}

input {
  padding-left: 30px;
  border: none;
  border-radius: 10px;
  background-color: $grey_color;
  letter-spacing: 0.2px;
}

#loginpage {
  background: $primary_color;
  width: 100%;
  height: 900px;
  z-index: 100;
}

#logingroup {
  position: absolute;
  z-index: 1000;
  background: $white_color;
  height: 900px;
  max-width: 614px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 80px 95px 92px 179px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

.logo_image{
  background: url('../assets/image\ 555.svg'), lightgray -16.372px -6.6px / 114.583% 122% no-repeat;
  width: 117px;
  height: 30px;
}

.login_body {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.login_body > h1 {
  width: 250px;
  height: 50px;
}

.login_body input {
  width: 350px;
  height: 70px;
}

.inputgroup > input:not(:first-child) {
  margin-top: 10px;
}

.button {
  width: 160px;
  height: 50px;
  padding: 16px 32px 16px 32px;
  border: none;
  border-radius: 10px;
  color: $white_color;
  background-color: $primary_color;
  font-weight: 500;
}

.button_outline {
  border: 1px solid $primary_color;
  color: $primary_color;
  background-color: $white_color;
  font-weight: 500;
  letter-spacing: 0.2px;
}

.button:hover {
  background-color: rgba($primary_color, 0.9);
  cursor: pointer;
}

.button_outline:hover {
  background-color: rgba($primary_color, 0.9);
  color: $white_color;
  cursor: pointer;
}

.login_footer {
  flex-grow: 1;
  align-self: flex-start;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 8px;
}

.menuitem_active {
  color: $primary_color;
}

.info {
  width: 260px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.64px;
  line-height: 24px;
  opacity: 0.5;
}

.info a {
  color: $primary_color;
}

#formpage {
  display: flex;
  flex-direction: row;
  align-content: stretch;
}

#formlist {
  background: $grey_color;
  width: 100%;
  height: 900px;
  padding: 80px 165px 30px 450px;
  overflow: scroll;
}

#formmenu {
  position: fixed;
  z-index: 1000;
  background: $white_color;
  height: 100%;
  max-height: 900px;
  max-width: 420px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 80px 95px 92px 179px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

.sidemenu {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  gap: 16px;
}

.formlist_head {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.formlist_head button {
  width: 165px;
  height: 51px;
  padding-left: 30px;
  padding-right: 30px;
}

.formlist_main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form {
  width: 825px;
  height: 190px;
  background-color: $white_color;
  border-radius: 10px;
  padding: 24px;
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 100px 42px; 
}

.form_button {
  width: 179px;
  height: 42px;
  line-height: 10px;
  justify-self: right;
}

.form > button {
  border: none;
}

.form h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 8px;
}

.form .info {
  padding-top: 20px;
}

